name: Python CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  actions: write # to upload artifacts

env:
  # Python >= 3.8 is needed to support manylinux_x_y tags (unless you want to manually update pip)
  # Python 3.10 was chosen because it is currently the most popular according to https://mayeut.github.io/manylinux-timeline/
  PYTHON_VERSION: "3.10"

jobs:
  build_and_test:
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.target.runner }}
    strategy:
      matrix:
        target:
          # name: The name of the target passed to cargo build
          # runner: The GitHub runner to use
          - name: x86_64-pc-windows-msvc
            runner: windows-latest
          # - name: aarch64-pc-windows-msvc
          #   runner: windows-11-arm
          - name: x86_64-apple-darwin
            runner: macos-15-intel
          - name: aarch64-apple-darwin
            runner: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.85.0
          targets: ${{ matrix.target.name }}

      - name: Install uv
        run: |
          pipx install uv

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install wheel
        run: uv build --wheel

      - name: pytest
        run: uv venv && uv pip install dist/*.whl && uv run pytest

      - name: Upload build artifacts
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target.name }}-wheel
          path: dist

  linux_build_and_test:
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-22.04${{ matrix.arch == 'aarch64' && '-arm' || '' }}
    strategy:
      matrix:
        # i686, ppc64le, s390x are also supported but not running them for now to reduce CI time
        # We might not ever need to support them, but we can make that decision later
        # As a useful datapoint, PyNaCl only builds x86_64 and aarch64 wheels
        # https://github.com/pyca/pynacl/blob/9ffa598e47242bf783aae23c20c31e876c438f1a/.github/workflows/wheel-builder.yml#L32-L41
        arch: [aarch64, x86_64]
        libc: [gnu, musl]
        exclude:
          - arch: s390x
            libc: musl
          - arch: i686
            libc: musl
          - arch: ppc64le
            libc: musl

    env:
      # See https://github.com/pypa/manylinux for more information on manylinux
      # Generally it's good to try to support the glibc version from two RHEL releases ago (roughly within EOM period)
      # The current RHEL release (as of 2/7/2025) is 9 and the glibc version from RHEL 7 was 2.17 (aka manylinux2014)
      MANYLINUX: ${{ matrix.libc == 'musl' && 'musllinux_1_2' || 'manylinux2014' }}
      TARGET: ${{ matrix.arch == 'ppc64le' && 'powerpc64le' || matrix.arch }}-unknown-linux-${{ matrix.libc }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Set up QEMU
        if: matrix.arch != 'aarch64' && matrix.arch != 'x86_64'
        uses: docker/setup-qemu-action@v3

      - name: Start Container
        env:
          container: quay.io/pypa/${{ env.MANYLINUX }}_${{ matrix.arch }}
        run: |
          set -e
          docker pull ${{ env.container }}
          docker run --name build-container \
          -d \
          -v ${{ github.workspace }}:/workspace \
          -e CARGO_HOME="/usr/local" \
          ${{ env.container }}  \
          tail -f /dev/null

      - name: Install Rustup
        env:
          RUN: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --profile minimal --default-host ${{ env.TARGET }} --default-toolchain=1.85.0
        run: docker exec build-container bash -c "$RUN"

      - name: rustup target add
        env:
          RUN: rustup target add ${{ env.TARGET }}
        run: docker exec build-container bash -c "$RUN"

      - name: Install uv
        env:
          RUN: pipx install uv --python python${{ env.PYTHON_VERSION }}
        run: docker exec build-container bash -c "$RUN"

      - name: Build wheel
        env:
          RUN: |
            uv build --wheel
        run: docker exec build-container bash -c "$RUN"

      - name: pytest
        env:
          RUN: |
            uv venv && uv pip install dist/*.whl && uv run pytest
        run: docker exec build-container bash -c "$RUN"

      - name: Upload build artifacts
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.TARGET }}-wheel
          path: /workspace/dist

